@charset "utf-8";
@import url(reset.css);
@import url(fonts.css);

body {
    color: #222;
    cursor: url("../img/cursor/cursor_normal.png") 0 0, auto;
}

section {
    padding-block: 130px;
}

a {
    display: block;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.inner {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
}

/* header */
header {
    height: 100px;
    position: relative;
}

header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

#logo-b>a {
    background: url(../img/logo/LOGO-b.png) no-repeat center/cover;
    width: 152px;
    height: 30px;
}

#logo-p>a {
    background: url(../img/logo/LOGO-p.png) no-repeat center/cover;
    width: 152px;
    height: 30px;
}

#header .gnb-btn {
    width: 32px;
    height: 32px;
    z-index: 10;
}

.gnb {
    background: url(../img/gnb/subgnbBg.png) no-repeat center/cover;
    width: 320px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 11;
}

.gnb.active {
    transform: translateX(0);
    z-index: 100;
}

.gnb .close-btn {
    position: absolute;
    top: 25px;
    right: 28%;
}

.gnb>ul {
    padding: 120px 60px;
}

.gnb a {
    /* background: #fff; */
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.gnb a>img {
    height: 24px;
    width: auto;
    object-fit: contain;
}

.gnb a:hover img {
    animation-name: gnb-shake;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform: rotate(0deg);
}

@keyframes gnb-shake {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.footericon {
    width: 24px;
    height: 24px;
}

/* 커서 */
button:hover,
a:hover {
    cursor: url(../img/cursor/cursor_click.png) 0 0, pointer;
}

/* 폰트 공통 */
.gnb a {
    font-family: 'KotraHope';
    font-size: 24px;
    line-height: 1.4;
}

h2,
.title {
    font-family: 'TMoneyDungunbaram';
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

.sub-title {
    font-family: 'Suit';
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
}

.book-text {
    font-family: 'GangwonEducationHyunokSam';
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
}

.contents-text {
    font-family: 'OngleipRyudung';
    font-size: 36px;
    line-height: 1.4;
}

.characters-text {
    font-family: 'HanaHandwriting';
    font-size: 35px;
    line-height: 1.3;
}

/* footer */
footer {
    width: 100%;
    height: 150px;
    background-color: #DDEFE8;
}


footer .footer-inner {
    padding: 37px 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 160px;
}

footer .footer-text {
    font-family: 'Suit';
    font-size: 12px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    gap: 86px;
}

footer .footer-desc {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.6;
    font-family: 'Suit';
    color: #4d5252;
    position: relative;
}

footer .footer-desc::before {
    content: '';
    width: 2px;
    height: 72px;
    background-color: #6e6e6e;
    position: absolute;
    left: -43px;
    opacity: 22%;
}

footer .icon-area {
    width: 156px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

footer .icon-area a {
    width: 24px;
}

footer .icon-area a span {
    display: block;
    height: 24px;
    width: 100%;
    opacity: 0.8;
    background-image: url(../img/icon/ico_instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer .icon-area a:nth-child(2) span {
    background-image: url(../img/icon/ico_twitter.png);
}

footer .icon-area a:nth-child(3) span {
    background-image: url(../img/icon/ico_youtube.png);
}

footer .icon-area a:nth-child(4) span {
    background-image: url(../img/icon/ico_kakao-talk.png);
}