@charset "utf-8";
@import url(reset.css);
@import url(font.css);

section {
    padding-block: 130px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    position: relative;
}

.inner {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
}

.header-inner {
    max-width: 1800px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.logo {
    width: 152px;
    height: 30px;
}

.logo-b {
    background: url(../img/logo/mainLogo-blue.png) no-repeat center/cover;
}

.logo-p {
    background: url(../img/logo/mainLogo-pink.png) no-repeat center/cover;
}

.gnbPicket {
    width: 103px;
    height: 36px;
    cursor: pointer;
}

.gnb {
    background: url(../img/gnb/subgnbBg.png) no-repeat center/cover;
    width: 320px;
    height: 100vh;
    position: absolute;
}

.gnb-icon {
    width: 32px;
    height: 32px;
}

/* 폰트 공통 */
.gnb a {
    font-family: 'KotraHope';
    font-size: 24px;
    line-height: 1.4;
}

h2,
.title {
    font-family: 'TMoneyDungunbaram';
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

.sub-title {
    font-family: 'Suit';
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
}

.book-text {
    font-family: 'GangwonEducationHyunokSam';
    font-size: 30px;
    line-height: 1.4%;
}

.contents-text {
    font-family: 'OngleipRyudung';
    font-size: 36px;
    line-height: 1.4;
}

.characters-text {
    font-family: 'HanaHandwriting';
    font-size: 35px;
    line-height: 1.3;
}

.footertext {
    font-family: 'Suit';
    font-size: 12px;
    line-height: 1.6;
}

.footericon {
    width: 24px;
    height: 24px;
}