@charset "utf-8";

section {
    padding: 0;
}

video {
    width: inherit;
}

.ico-shop {
    opacity: 0;
    visibility: hidden;
}

#projectBg {
    width: 100%;
    height: 100vh;
    background: url(../img/project/project-background.png) no-repeat center/cover;
    position: relative;
}

/* swiper 영역 */
#projectSlider .board-area {
    width: 880px;
    height: 485px;
    padding: 55px 68px 105px 70px;
    background: url(../img/project/board.png) no-repeat center/contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#projectSlider .swiper-area {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#projectSlider .projectSwiper {
    height: 100%;
}

#projectSlider .swiper-wrapper {
    height: 100%;
}

.swiper-slide.project-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.project-slide .slide-hover {
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    display: flex;
    color: #222;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
}

.project-slide:hover .slide-hover {
    opacity: 1;
}

.project-slide .slide-hover .detail-btn {
    width: 130px;
    height: 55px;
}

.project-slide>img {
    width: 100%;
    object-fit: cover;
}

#projectSlider .swiper-button-next,
#projectSlider .swiper-button-prev {
    position: absolute;
    right: 450px;
    top: 49%;
    transform: translateY(-50%);
    background: url(../img/icon/ico_project_next.png) no-repeat center/cover;
    cursor: url(../img/cursor/cursor_click.png) 0 0, pointer;
}

#projectSlider .swiper-button-prev {
    right: auto;
    left: 450px;
    background-image: url(../img/icon/ico_project_previous.png);
}

#projectSlider .swiper-navigation-icon {
    opacity: 0;
}

/* detail-board */
#detail-board-area {
    inset: 0;
    background: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 999;
    overflow-y: auto;
    display: none;
}

#detail-board-area.show {
    display: block;
}

.detail-board-frame {
    width: 910px;
    height: 4000px;
    padding: 100px 75px 100px;
    background: url(../img/project/projectFrame.png) no-repeat center/contain;
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    display: none;
}

.baseball-board.show,
.motors-board.show,
.museum-board.show {
    display: block;
}

.detail-board-frame .xcircle {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: -40px;
}

.detail-board-frame ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.detail-board-frame li {
    width: 100%;
    height: 600px;
}

.baseball-board li {
    width: 100%;
    height: 520px;
}

.baseball-board ul li:first-child {
    height: 414px;
}

.detail-board-frame li img {
    object-fit: cover;
}