@charset "utf-8";
@import url(fonts.css);
@import url(reset.css);

/* ===cursor=== */
body {
    cursor: url(../img/cursor/cursor_normal.png)0 0, auto;
}

/* ===contents-visual=== */
#contents-visual {
    width: 100%;
    height: 2500px;
    background: url(../img/contents/contentsBG.png) no-repeat top/cover;
    position: relative;
}

/* ===gnb=== */
#header #gnbBtn {
    height: 36px;
    width: 103px;
}

/* ===contents=== */
.contents-card {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 58px 80px;

}
.contents-card a:hover {
    transform: translateY(-30px);
    transition: .4s;
}
/* .contents-grid img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
} */