@charset "utf-8";

.fish1 {
    width: 50px;
    height: 12px;
    top: 10px;
    left: 0;
    animation: fish1Move 10s infinite;
}

@keyframes fish1Move {
    0% {
        left: 20px;
        transform: translateY(25px) scaleX(1);
    }

    25% {
        transform: translateY(12px) scaleX(1);
    }

    48% {
        left: 80px;
        transform: translateY(12px) scaleX(1);
    }

    50% {
        transform: translateY(12px) scaleX(-1);
    }

    75% {
        transform: translateY(20px) scaleX(-1);
    }

    98% {
        transform: translateY(25px) scaleX(-1);
    }

    100% {
        left: 20px;
        transform: translateY(25px) scaleX(1);
    }
}

.fish2 {
    width: 60px;
    height: 12px;
    top: 50px;
    left: 45%;
    animation: fish2Move 10s infinite;
    animation-delay: -3s;
}

@keyframes fish2Move {
    0% {
        transform: translate(0, 0) scale(1);
    }

    24% {
        transform: translate(-35px, -20px) scale(1);
    }

    25% {
        transform: translate(-35px, -20px) scaleX(-1);
    }

    49% {
        transform: translate(15px, -5px) scaleX(-1);
    }

    50% {
        transform: translate(15px, -5px) scaleX(1);
    }

    74% {
        transform: translate(-35px, -20px) scaleX(1);
    }

    75% {
        transform: translate(-35px, -20px) scaleX(-1);
    }

    99% {
        transform: translate(0, 0) scaleX(-1);
    }

    100% {
        transform: translate(0, 0) scaleX(1);
    }
}

.fish3 {
    width: 60px;
    height: 15px;
    top: 15px;
    right: 15px;
    animation: fish3Move 10s infinite;
}

@keyframes fish3Move {
    0% {
        transform: translateX(0) scaleX(1);
    }

    22% {
        transform: translate(-30px, 20px) scaleX(1);
    }

    47% {
        transform: translateX(-50px) scaleX(1);
    }

    50% {
        transform: translateX(-50px) scaleX(-1);
    }

    72% {
        transform: translateX(-32px, -30px) scaleX(-1);
    }

    100% {
        transform: translateX(0) scaleX(-1);
    }
}

.bubble1,
.bubble3 {
    width: 25px;
    height: 35px;
    top: 80px;
    left: 26px;
}

.bubble2 {
    width: 12px;
    height: 50px;
    top: 100px;
    left: 67px;
}

.bubble3 {
    top: 70px;
    left: 55%;
}

.bubble4 {
    width: 17px;
    height: 35px;
    top: 100px;
    right: 35px;
}

@keyframes bubbleRise {
    0% {
        transform: translate(0, 0) scale(0.85);
        opacity: 0;
    }

    15% {
        transform: translate(6px, -20px) scale(0.88);
        opacity: 0.9;
    }

    30% {
        transform: translate(10px, -40px) scale(0.92);
        opacity: 0.9;
    }

    45% {
        transform: translate(5px, -60px) scale(0.96);
        opacity: 0.8;
    }

    60% {
        transform: translate(-5px, -80px) scale(1);
        opacity: 0.6;
    }

    75% {
        transform: translate(-10px, -100px) scale(1.04);
        opacity: 0.4;
    }

    90% {
        transform: translate(-5px, -120px) scale(1.07);
        opacity: 0.2;
    }

    100% {
        transform: translate(0, -135px) scale(1.1);
        opacity: 0;
    }
}