@charset "utf-8";
html, body {
    box-sizing: border-box;
    overflow-x: hidden;
}

section {
    padding: 0;
    margin: 0;
}

#projectBg {
    background: url(../../img/project/m-projectBG02.jpg) no-repeat center/cover;
}

/* swiper 영역 */
#projectSlider .board-area {
    width: calc(100vw * 330 / 393);
    height: calc(100vw * 270 / 393);
    padding: calc(100vw * 20 / 393)
            calc(100vw * 25 / 393)
            calc(100vw * 40 / 393);
    background: url(../../img/project/m-board.png) no-repeat center/contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#projectSlider .swiper-area {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#projectSlider .projectSwiper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#projectSlider .swiper-wrapper {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.swiper-slide.project-slide {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.project-slide > img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#projectSlider .swiper-button-next,
#projectSlider .swiper-button-prev {
    box-sizing: border-box;
    width: calc(100vw * 38 / 393);
    height: auto;
    aspect-ratio: 38 / 38;
    right: 4%;
    top: 51%;
    transform: translateY(-50%);
    background: url(../../img/icon/ico_project_next.png) no-repeat center/cover;
}

#projectSlider .swiper-button-prev {
    left: 4%;
    background-image: url(../../img/icon/ico_project_previous.png);
}

/* detail-board */
#detail-board-area {
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 999;
    overflow-y: auto;
    display: none;
}

#detail-board-area.show {
    display: block;
}

.detail-board-frame {
    width: calc(100vw * 336 / 393);
    height: auto;
    aspect-ratio: 336 / 1477;
    padding: calc(100vw * 30 / 393);
    background: url(../../img/project/projectFrame.png) no-repeat center/contain;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    display: none;
}

.baseball-board.show,
.motors-board.show,
.museum-board.show {
    display: block;
}

.detail-board-frame .xcircle {
    width: calc(100vw * 35 / 393);
    height: auto;
    aspect-ratio: 35 / 35;
    top: -30px;
    right: 0;
}

.detail-board-frame ul {
    gap: 10px;
}

.detail-board-frame li {
    width: 100%;
    height: calc(100vw * 225 / 393);
}

.baseball-board li {
    width: 100%;
    height: calc(100vw * 198.5 / 393);
}

.baseball-board ul li:first-child {
    height: calc(100vw * 150 / 393);
}

.detail-board-frame li img {
    object-fit: cover;
}